#main{
  background: url("london-tube.jpg")no-repeat center center fixed;
  background-size:cover;
  opacity: 0.9;
}

#trainTable, #info, .jumbotron{
  background-color: lightblue;
}

h3{
  color:rgb(241, 0, 40);
  font-weight:500;
}